<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>909236668141-v5h9o5hooh1a5mq205crhn0b4mp8i0qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909236668141-v5h9o5hooh1a5mq205crhn0b4mp8i0qg</string>
	<key>API_KEY</key>
	<string>AIzaSyCpRejs0swHy-aEirYR8IXLtZN9tId3JuU</string>
	<key>GCM_SENDER_ID</key>
	<string>909236668141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.embraced</string>
	<key>PROJECT_ID</key>
	<string>embraced-27983</string>
	<key>STORAGE_BUCKET</key>
	<string>embraced-27983.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909236668141:ios:718c115b945b5a8f</string>
	<key>DATABASE_URL</key>
	<string>https://embraced-27983.firebaseio.com</string>
</dict>
</plist>